@import url('sborshik/vitepress/styles');

 :root {
  --vp-c-brand-1: #bf3939;
  --vp-c-brand-2: #b92b2b;
  --vp-c-brand-3: #ac1919;
  --vp-c-brand-soft: #bf393931;

  --custom-brand-1: var(--vp-c-brand-3);
  --custom-brand-2: var(--vp-c-brand-2);
  --custom-brand-3: var(--vp-c-brand-1);
}

 html.dark {
  --vp-c-brand-1: #ff7979;
  --vp-c-brand-2: #ff6d6d;
  --vp-c-brand-3: #fa5a5a;
  --vp-c-brand-soft: #ff79792d;

  --custom-brand-1: var(--vp-c-brand-3);
  --custom-brand-2: var(--vp-c-brand-2);
  --custom-brand-3: var(--vp-c-brand-1);
 }
